{% extends 'base.html.twig' %}

{% block title %} About {% endblock %}

{% block body %}
{{ include('menu.html.twig')}}
<br>    
<h1> About </h1>

<p> 
This is our annual project 
<br>
of M1 Computer Science 
at the university of Caen 
<br>
Made by :
AVITSARA Zafimamy Jary
LELAY Théo

<p>
{% endblock %}
