<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}{% endblock %}
        {%  block javascript %}  {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% include('core/menu.html.twig') %}
        <main>
        </main>
        {% include('core/footer.html.twig') %}
    </body>
</html>
