{% extends 'security/base.html.twig' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        {% endblock %}
        {%  block javascript %} 
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script> {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% include('core/menu.html.twig') %}
        <main>
        </main>
        {% include('core/footer.html.twig') %}
    </body>
</html>
{% endblock %}