<div class="card" width="100%">
<div class="row flex">
    <div class="col-5">  
        <div class="card text-center" style="width: 15rem;" >

        <img class=' card-img-top img-thumbnail rounded mx-auto d-block' src="{{ vich_uploader_asset(trip, 'imageFile') }}" />
            <p class="card-text"> Departure  : {{ trip.departure }} </p>
            <p class="card-text"> Destination :  {{ trip.destination }} </p>
            <p class="card-text"> travelCompanionNumber :  {{ trip.travelCompanionNumber }} </p>

        </div>
    </div>
</div>





</div>